*{
  margin: 0;
  padding: 0;
}
header {
  background-color: black;
  color: white;
  padding: 20px;
  border: 1px solid white;
  overflow: hidden;
}

.header-left {
  float:left;
}

.header-right {
  float:right;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  float:left;
  list-style: none;
  padding: 0 10px 0 10px;
}

#hero {
  background-image: url('images.jpeg');
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 400px;
}

.post {
  padding: 50px;
}

.col-50 {
  float: left;
  width: 50%;
  height: 500px;

}
